/* HTML Components */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("login-page-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    overflow-x: visible;
    overflow-y: visible;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    color: rgb(28, 60, 101);
}

/* HTML Classes */ 
.container {
    width: 327px;
    height: 705px;
    background-color: white;
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    animation-name: borderEffect;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
} 

/* HTML IDs */
#name, #email, #subject {
    width: 324px;
    height: 56px;
    font-size: 18px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #eff0f2;
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
}

#message {
    width: 324px;
    height: 56px;
    font-size: 18px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #eff0f2;
    color: rgb(28, 60, 101);
    font-weight: 600;
    border-radius: 16px;
}

#phone-details, #email-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(28, 60, 101);
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 70px;
    animation-name: borderEffect;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#social-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: rgb(28, 60, 101);
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 70px;
    animation-name: borderEffect;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#send {
    height: 56px;
    width: 324px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(15, 192, 252);
    border-radius: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#information-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

#footer-details {
    justify-content: center;
    color: rgb(28, 60, 101);
    display: flex;
    text-align: center;
}

#name-word, #email-word, #subject-word, #message-word {
    text-align: left;
    width: 324px;
    margin-bottom: 6px;
}

#name-word:hover, #email-word-box:hover, #email-word:hover, #subject-word:hover, #message-word:hover, #contact-us-word:hover, #socials-word:hover, #phone-word:hover, #email-word:hover, #privacy-policy-word:hover, #terms-of-use-word:hover, #disclaimer-word:hover, #footer-details:hover {
    text-decoration-line: underline;
}

#contact-us-page-logo:hover, #instagram-picture:hover, #tiktok-picture:hover, #twitter-picture:hover {
    transform: scale(1.1);
}

#footer-details:hover {
    transform: scale(1.050);
}

#phone-number:hover, #email-address:hover {
    transform: scale(1.025);
}

#email-address, #phone-number {
    text-decoration-line: none;
    color: rgb(28, 60, 101);
}

#send:active, #instagram-picture:active, #twitter-picture:active, #tiktok-picture:active, #phone-number:active, #email-address:active {
    transform: translateY(1px);
}

#send:hover {
    background-color: rgb(28, 60, 101);
}

/* HTML Pseudo-Element Notation */ 
input::placeholder {
    color: rgb(28, 60, 101);
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

input[type="text"] {
    color: white;
    text-align: center;
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderEffect {
    0% {
        border: 5px solid rgb(28, 60, 101);
    }
    25% {
        border: 5px solid rgb(15, 192, 252);
    }   
    50% {
        border: 5px solid rgb(178, 58, 58);
    }
    75% {
        border: 5px solid rgb(0, 0, 0);
    }
    100% {
        border: 5px solid #F5F7F9;
    }
}