/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    color: rgb(28, 60, 101);
    display: flex;
    flex-direction: column;
    background-image: url("login-page-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: -5px;
    font-size: 20px;
    font-weight: 600;
}

/* HTML Classes */ 
.container {
    width: 330px;
    height: 695px;
    background-color: white;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: borderEffect;
    animation-timing-function: ease-in-out;
    animation-delay: 7s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

/* HTML IDs */
#every-try-counts {
    color: rgb(178, 58, 58);
}

#get-started {
    height: 56px;
    width: 324px;
    color: white; /* #FFFFFF */ 
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(15, 192, 252);
    border-radius: 28px;
    border: none;
}

#welcome-page-logo:hover {
    transform: scale(1.1);
}

#map-of-canada-picture:hover {
    transform: scale(1.050);
}

#the-great-canadian-swim-word:hover, #every-try-counts:hover, #every-ripple-matters:hover, #footer-details:hover {
    text-decoration-line: underline;
}

#footer-details:hover {
    transform: scale(1.050);
}

#footer-details {
    justify-content: center;
    color: rgb(28, 60, 101);
    display: flex;
    text-align: center;
}

#get-started:hover {
    background-color: rgb(28, 60, 101);
}

#get-stated:active {
    transform: translateY(1px);
}

/* HTML @keyframes Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderEffect {
    0% {
        border: 5px solid rgb(28, 60, 101);
    }
    25% {
        border: 5px solid rgb(15, 192, 252);
    }   
    50% {
        border: 5px solid rgb(178, 58, 58);
    }
    75% {
        border: 5px solid rgb(0, 0, 0);
    }
    100% {
        border: 5px solid #F5F7F9;
    }
}