/* HTML Components */
body {
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
    background-image: url("login-page-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    animation-name: fadeIn;
    animation-duration: 1s;
    color: rgb(28, 60, 101);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

/* HTML Classes */ 
.container {
    width: 327px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: borderEffect;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}   